header {
  background-color: black;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  & h1 {
    color: $light-color;
    font-size: 4.5rem;
  }

  & button {
    cursor: pointer;
    background: none;
    color: $color-prymary;
    border: none;
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 2rem;

    & img {
      height: 3rem;
      vertical-align: middle;
    }
  }
}
