nav {
  width: 100%;
  margin-top: 1rem;
  background-color: rgba($light-color, $alpha: 0.4);
  height: 10rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
