.section__link {
  position: relative;
  width: 40rem;
  height: 100%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: $light-color;

  &:hover {
    background-color: $color-prymary-light;
  }

  & .link_container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.5rem;

    & img {
      height: 100%;
    }
    & h4 {
      font-size: 4rem;
    }
  }
}

.selectedLink > .section__link {
  background-color: $color-prymary-dark;
}
